<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Customer servlet</servlet-name>
        <servlet-class>Servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report servlet</servlet-name>
        <servlet-class>Servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill servlet</servlet-name>
        <servlet-class>Servlet.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rate servlet</servlet-name>
        <servlet-class>Servlet.RateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Traffic summary</servlet-name>
        <servlet-class>Servlet.TrafficSummary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer servlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report servlet</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill servlet</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rate servlet</servlet-name>
        <url-pattern>/rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Traffic summary</servlet-name>
        <url-pattern>/trafficSummary</url-pattern>
    </servlet-mapping>
</web-app>
